---
import { Icon } from "astro-icon/components";
import Link from "../ui/Link.astro";
import Button from "../ui/Button.astro";

const navData = [
  {
    title: "Home",
    href: "/",
    icon: "logo",
  },
  {
    title: "Projects",
    href: "/projects",
  },
  {
    title: "Blog",
    href: "/blog",
  },
];
---

<nav class="flex justify-between p-6 items-center">
  <ul class="flex items-center justify-start gap-8">
    {
      navData.map((i) => (
        <li>
          {i.icon && (
            <Button>
              <Icon name={i.icon} size={40} aria-hidden="true" />
            </Button>
          )}
          {!i.icon && (
            <Link href={i.href} aria-label={i.icon && i.title}>
              {i.title}
            </Link>
          )}
        </li>
      ))
    }
  </ul>
</nav>
