---
import { Image } from "astro:assets";
import Heading from "../ui/Heading.astro";
import Link from "../ui/Link.astro";

import cat from "@/assets/cat.png";
---

<header aria-label="Ted intro">
  <Image src={cat} alt="cat" width={200} format="avif" class="rounded-lg" />
  <Heading tagName="h1" size="h2">Hi, I'm Ted</Heading>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, facilis.
  </p>
  <div>
    <Link href="#" variant="up">Download CV</Link>
    <Link href="#contact" variant="flat">Let's connect</Link>
  </div>
</header>
