---
import { getCollection } from "astro:content";
import Heading from "../ui/Heading.astro";
import ProjectCard from "../ui/ProjectCard.astro";
import Link from "../ui/Link.astro";

const projects = await getCollection("projects");
---

<section aria-label="Recent Projects">
  <div class="projects">
    <div class="flex flex-col items-center">
      <Heading tagName="h2" size="h2">Don't take my word for it!</Heading>
      <p>Here are some recent projects you can explore for yourself!</p>
      <Link href="projects" variant="up">See all projects</Link>
    </div>
    <div class="grid grid-cols-3">
      {projects.slice(0, 3).map(({ data }) => <ProjectCard data={data} />)}
    </div>
  </div>
</section>
