---
import BaseHead from "@/layouts/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav.astro";

import "@/styles/global.css";
---

<html lang="en">
  <BaseHead {...Astro.props} />
  <body class="bg-[#e6e7ee]">
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
