---
import BaseHead from "@/components/layouts/BaseHead.astro";
import Nav from "@/components/layouts/Nav.astro";

import "@/styles/global.css";
---

<html lang="en">
  <BaseHead {...Astro.props} />
  <body class="bg-[#e6e7ee]">
    <Nav />
    <slot />
  </body>
</html>
