---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
}

const { ...rest } = Astro.props;
---

<button
  class:list={cn(
    "items-center justify-center rounded-lg p-2 shadow-light hover:shadow-inset",
    Astro.props.class
  )}
  {...rest}>
  <slot />
</button>
