---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  href: string;
  variant?: "up" | "flat" | "down";
  isCircle?: boolean;
  showHover?: boolean;
}

const {
  href,
  variant = "flat",
  isCircle = false,
  showHover = true,
  ...rest
} = Astro.props;
---

<a
  href={href}
  class:list={[
    "rounded-lg p-2",
    variant == "up" && "shadow-soft",
    variant == "down" && "shadow-inset",
    isCircle && "rounded-full",
    showHover && "hover:shadow-inset",
  ]}
  {...rest}>
  <slot />
</a>
